@model StructureProject.Models.RegisterViewModel





<div class="Registercontainer">
    <h2>Build your profile</h2>
    <form method="POST" id="signup-form" class="Registersignup-form" enctype="multipart/form-data">
        <h3>
            About
        </h3>
        <fieldset>
            <div class="Registerform-row">
                <div class="Registerform-file">
                    <input type="file" class="Registerinputfile" name="your_picture" id="your_picture" onchange="readURL(this);" data-multiple-caption="{count} files selected" multiple />
                    <label for="your_picture">
                        <figure>
                            <img src="~/Content/Register/images/your-picture.png" alt="" class="your_picture_image">
                        </figure>
                        <span class="file-button">choose picture</span>
                    </label>
                </div>
                <div class="Registerform-group-flex">
                    <div class="Registerform-group">
                        <input type="text" name="first_name" id="first_name" placeholder="First Name" />
                    </div>
                    <div class="Registerform-group">
                        <input type="text" name="last_name" id="last_name" placeholder="Last Name" />
                    </div>
                    <div class="Registerform-group">
                        <input type="email" name="email" id="email" placeholder="Email" />
                    </div>
                </div>
            </div>
        </fieldset>

        <h3>
            Account
        </h3>
        <fieldset>
            <div class="Registerform-radio">
                <label for="job" class="label-radio">What is your Favourite Pet ?</label>
                <div class="Registerform-flex">
                    <div class="Registerform-radio">
                        <input type="radio" name="Dog" value="Dog" id="dog" />
                        <label for="dog">
                            <figure>
                                <img src="~/Content/Register/images/icon-1.png" alt="">
                            </figure>
                            <span>Dog</span>
                        </label>
                    </div>

                    <div class="Registerform-radio">
                        <input type="radio" name="Cat" value="Cat" id="Cat" checked="checked" />
                        <label for="cat">
                            <figure>
                                <img src="~/Content/Register/images/icon-2.png" alt="">
                            </figure>
                            <span>Cat</span>
                        </label>
                    </div>

                    <div class="Registerform-radio">
                        <input type="radio" name="Fish" value="Fish" id="Fish" />
                        <label for="fish">
                            <figure>
                                <img src="~/Content/Register/images/icon-3.png" alt="">
                            </figure>
                            <span>Fish</span>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <h3>
            Address
        </h3>
        <fieldset>
            <div class="Registerform-row Registerform-input-flex">
                <div class="Registerform-form-input">
                    <input type="text" name="street_name" id="street_name" placeholder="Street Name" />
                </div>
                <div class="Registerform-form-input">
                    <input type="text" name="street_number" id="street_number" placeholder="Street Number" />
                </div>
            </div>
            <div class="Registerform-row Registerform-input-flex">
                <div class="Registerform-form-input">
                    <input type="text" name="city" id="city" placeholder="City" />
                </div>
                <div class="Registerform-form-input">
                    <select name="country" id="country">
                        <option value="">Country</option>
                        <option value="Viet Nam">Viet Nam</option>
                        <option value="USA">USA</option>
                    </select>
                    <span class="select-icon"><i class="zmdi zmdi-caret-down"></i></span>
                </div>
            </div>
        </fieldset>
    </form>
</div>



@section Scripts {

    @Scripts.Render("~/bundles/registerjs")
}
