body {
    background-image: url("/Content/Images/Images/group-of-dogs-at-dog-park.jpg");
}

.hrindex {
    margin-top: 222px;
}

.jumboindex {
    background-color: #fff7fb;
    margin-top: 50px;
    width: 75%;
    margin-left: 149px;
}
