@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">PetAir</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Person/MyProfile">My Profile</a></li>
                    <li><a href="/Reservation/Show">Show My Reservations</a></li>
                    <li><a href="/Pet/ShowPets">Show My Pets</a></li>
                    <li><a href="/Person/OtherUsers">Show Other Users</a></li>
                    <li><a href="/Person/Search">Search By Location</a></li>


                </ul>
                <form action="/Account/LogOff" class="navbar-right" id="logoutForm" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="iSXLzaVP6696kzGlIRqTm8FWHXx78iOehv_kTuf1vNfwFS6sbUPBxI754fvYN2H-LQDYkZ38U1M2zzo2txsyOlm6ymNFmCaz9f10CkBaHnBZL46v4K2SSeiPBCM25JMZ5chN0rL_8SQqM6S1qTLqEg2" />                <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/Manage" title="Manage">Hello Avraam!</a>
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">



        <div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; 2020 - PetAir</p>
        </footer>
    </div>

    <script src="/Scripts/jquery-3.4.1.js"></script>
    <script src="/Scripts/bootbox.js"></script>
    <script src="/Scripts/datatables/jquery.datatables.js"></script>
    <script src="/Scripts/datatables/datatables.bootstrap.js"></script>
    <script src="/Scripts/moment.min.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="/Scripts/fontawesome/all.min.js"></script>
    <script src="/Scripts/toastr.js"></script>

    <script src="/Scripts/bootstrap.js"></script>



    <script>
    $(function () {
        if ('' == "Added") {
            toastr.success('Registration Successful!!');
            TempData.Remove("Registration");
        }
        if ('' == "Added") {
            toastr.success('Update Successful!!')
            TempData.Remove("UpdatePerson");
        }
        if ('' == "Added") {
            toastr.success('Update Successful!!')
            TempData.Remove("UpdateHost");
        }
        if ('' == "Added") {
            toastr.success('Update Successful!!')
            TempData.Remove("UpdateContact");
        }
         if ('' == "Logged") {
             toastr.success('Login Successful!!')
             TempData.Remove("Login");
        }
        if ('' == "Updated") {
             toastr.success('Update Successful!!');
             TempData.Remove("UpdateHost");
        }
        if ('' == "Send") {
             toastr.success('Message Sent!!');
             TempData.Remove("Message");
        }
       if ('' == "Made") {
             toastr.success('Reservation Made!!!!');
             TempData.Remove("Reservation");
        }


    });
    </script>


    <!-- Visual Studio Browser Link -->
    <script type="text/javascript" src="https://localhost:44399/1bcde4a6c5f84489bf89ea8b37f6c709/browserLink" async="async" id="__browserLink_initializationData" data-requestId="cb3a230c7a844da8bfa048c89805964e" data-appName="Firefox"></script>
    <!-- End Browser Link -->

</body>
</html>
