@model StructureProject.Models.Person




<h2>Contact Details</h2>

<ul>
    <li>
        Email : @Model.Email
    </li>
    <li>
        Phone Number :
    </li>
    <li>
        Location :
    </li>
</ul>
