@model IEnumerable<StructureProject.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Other Users</h2>
@*@if (!Model.Any())
    {
        <p>We don't have any viewers yet.</p>
    }
    else
    {*@
<table id="persons" class="table table-bordered">
    <thead>
    <th>First Name</th>
    <th>Last Name</th

    </thead>
    <tbody>
        @*@foreach (var viewer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(viewer.Name, "Edit", "Viewer", new { id = viewer.Id }, null)
                    </td>
                    <td>
                        @viewer.MembershipType.Name
                    </td>
                    <td>
                        @viewer.MembershipType.Discount%
                    </td>
                    <td>
                        <button data-viewer-id="@viewer.Id" class="btn btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }*@
    </tbody>
</table>
@*}*@
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#persons").DataTable({
                ajax: {
                    url: "/api/persons/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, person) {
                            return "<a href='/person/details/" + person.id + "'>" + person.name + "</a>";
                        }
                    },
                    {
                        data: "lastName"
                    }
                ]
            });


        });
    </script>
}


